<div class="product-card">
    <div class="top-section">
        <img src={{product?.images?.at(0)}}
            alt="iPhone 9" class="product-image">
        <span class="discount bold-12">- {{product?.discountPercentage}}%</span>
    </div>
    <div class="details-section">
        <span class="title bold-20">{{product?.title}}</span>
        <span class="description light-14">{{product?.description}}</span>
        <div class="price-container">
            <div class="previous-price">
                <span class="price-value bold-14">{{product?.previousPrice?.toFixed(2)}} </span>
                <span class="light-14">USD</span>
            </div>
            <div>
                <span class="price-value bold-14">{{product?.price}}</span>
                <span class="light-14">USD</span>
            </div>
        </div>
        <div class="info">
            <div>
                <span class="label light-14">Brand: </span>
                <span class="value semibold-14">{{product?.brand}}</span>
            </div>
            <div>
                <span class="label light-14">Category: </span>
                <span class="value semibold-14">{{fixCategoryName()}}</span>
            </div>
            <div>
                <span class="label light-14">In stock: </span>
                <span class="value semibold-14">{{product?.stock}}</span>
            </div>
        </div>
        <div class="rating-container">
            <span class="rating-value bold-16">★ {{product?.rating}} </span>
            <span class="rating-count light-16">({{product?.reviews?.length}})</span>
        </div>
        <button *ngIf="!count" (click)="incrementCount()" class="cart-button bold-16">ADD TO CART</button>
        <button *ngIf="count" #added class="added-cart-button bold-18">
            <span (click)="decrementCount()" class="pointer">-</span>
            <span>{{count}}</span>
            <span (click)="incrementCount()" class="pointer">+</span>
        </button>
    </div>
</div>