<div class="main-container">
    <div class="left-section">
        <div class="logo">
            <img class="logo-icon" src="../../../assets/images/logo-icon.png">
            <span class="semilight-16">ClickTik</span>
        </div>
        <a class="navbar-button semilight-16">Home</a>
    </div>
    <div class="right-section">
        <div class="search-container">
            <icon iconName="search" size=17 color="#999999"></icon>
            <input placeholder="Search" class="search-bar">
        </div>
        <div class="cart-container">
            <icon iconName="cart" color="#667085"></icon>
            <span class="cart-value light-10">3</span>
        </div>
        <a class="navbar-button semilight-16">Account</a>
    </div>
</div>