.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 150px;
    padding-bottom: 90px;
    padding-inline: 490px;
}

.logo-icon {
    width: 48px;
    margin-bottom: 24px;
}

.title {
    margin-bottom: 12px;
}

.subtitle {
    margin-bottom: 32px;
}

.form {
    width: 100%;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-bottom: 20px;
}

.text-input {
    padding: 10px 14px;
    border-radius: 8px;
    border: 1px solid #D0D5DD;
}

.signin-button {
    cursor: not-allowed;
    border: 0;
    padding-block: 10px;
    width: 100%;
    border-radius: 8px;
    background-color: #41CCCC;
    transition: background-color 0.3s ease-out;

    &:hover {
        &:enabled {
            cursor: pointer;
            background-color: #6941c6;
            transition: background-color 0.3s ease-out;
        }
    }
}