<div class="main-container">
    <span class="title bold-16">Products</span>
    <ul class="product-list">
        <li *ngFor="let product of productCategories" class="product-container">
            <label class="radio-container">
                <input class="default-radio" name="products" type="radio" />
                <span class="radio-mark"></span>
                <span class="light-16">{{product}} <span class="light-16">(0)</span></span>
            </label>
        </li>
    </ul>
</div>